@font-face {
  font-family: "Graphik";
  src: url(/img/GraphikSemibold.otf);
}
@font-face {
  font-family: "Graphik medium";
  src: url(/img/GraphikMedium.otf);
}
@font-face {
  font-family: "Graphik light";
  src: url(/img/GraphikRegular.otf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Graphik light", "Times New Roman";
  color: #1b1a20;
  background-color: #fffdf5;
  font-weight: 300;
  line-height: 1.6;
}
@media only screen and (max-width: 37.5em) {
  body {
    line-height: 1.4;
  }
}
.container {
  display: grid;
  grid-template-rows: repeat(6, -webkit-min-content);
  grid-template-rows: repeat(6, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(-webkit-min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  position: relative;
}
.break {
  background-color: #e7332b;
  grid-column: full-start/full-end;
  background-image: url(/img/round.svg), url(/img/mains.png),
    url(/img/curve2.svg), url(/img/bend1.svg);
  background-repeat: no-repeat;
  background-position: 10% 30%, right bottom, left bottom, top right;
  background-size: 20rem, 15rem, 15rem, 15rem;
  padding: 10rem;
  margin: 6rem;
  border-radius: 2rem;
  color: white;
  text-align: center;
}
.break > * {
  margin-bottom: 3rem;
}
.break h1 {
  font-size: 5.5rem;
  line-height: 1.3;
  padding: 0 20rem;
}
.break p {
  font-size: 1.8rem;
}
.break a,
.break a:active,
.break a:visited {
  font-size: 1.8rem;
  background-color: #fff;
  color: #e7332b;
  padding: 1rem 3.2rem;
  border-radius: 7.1rem;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}
.footer {
  grid-column: full-start/full-end;
  display: grid;
  padding: 6rem;
  grid-gap: 3rem;
}
.footer__first {
  display: flex;
  justify-content: space-between;
}
.footer__second {
  display: flex;
  justify-content: space-between;
}
.footer__second p {
  font-size: 1.6rem;
}
.getstarted {
  grid-column: full-start/full-end;
  background-color: #e7332b;
  padding: 10rem 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  color: white;
}
.getstarted__content {
  display: grid;
  grid-gap: 3rem;
}
.getstarted__content a,
.getstarted__content a:active,
.getstarted__content a:visited {
  background-color: #fff;
  color: #e7332b;
  justify-self: start;
  text-decoration: none;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  border-radius: 7.1rem;
}
.getstarted__buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
}
.getstarted__buttons button {
  padding: 1rem 3rem 1rem 5rem;
  border-radius: 7.1rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  cursor: ew-resize;
}
.getstarted__buttons button img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.getstarted h1 {
  font-size: 4rem;
  font-family: "Graphik", "Times New Roman";
  line-height: 1.3;
}
.getstarted p {
  font-size: 1.6rem;
}
.getstarted__image {
  width: 100%;
}
.getstarted__image img {
  width: 100%;
}
.nav {
  grid-column: full-start/full-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fffdf5;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 6rem;
  font-size: 1.8rem;
}
.nav__links {
  display: flex;
}
.nav__link,
.nav__link:visited,
.nav__link:active {
  text-decoration: none;
  padding: 3rem;
  color: #333;
}
@media only screen and (max-width: 75em) {
  .nav__link,
  .nav__link:visited,
  .nav__link:active {
    padding: 2rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .nav__link,
  .nav__link:visited,
  .nav__link:active {
    display: none;
  }
}
.nav__thumb {
  display: flex;
  align-items: center;
}
.nav__thumb img {
  box-sizing: content-box;
  background-color: #e7332b;
  border-radius: 50%;
  padding: 1rem;
  margin-right: -2.4rem;
  z-index: 1;
}
.nav__thumb-a,
.nav__thumb-a:visited,
.nav__thumb-a:active {
  display: inline-flex;
  background-color: #e7332b;
  padding: 0.8rem 3rem;
  color: white;
  border-radius: 7.1rem;
}
.small {
  width: 5rem;
  height: 5rem;
}
@media only screen and (max-width: 75em) {
  .logo img {
    width: 22rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .logo img {
    width: 30rem;
  }
}
.questions {
  grid-column: full-start/full-end;
  background-image: url(/img/section7wire.svg);
  background-position: 15% 8%;
  background-repeat: no-repeat;
  background-size: 15rem;
  padding: 10rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 5rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.questions h1 {
  font-size: 4rem;
}
.questions .p {
  font-size: 2.4rem;
}
.questions__table {
  padding: 0 17rem;
}
.questions__table-items {
  border: 0.5px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
  padding: 2rem 2rem;
}
.questions__table-item > *:not(:last-child) {
  margin-bottom: 1.2rem;
}
.questions__questions {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}
.questions__questions p {
  font-size: 1.8rem;
}
.questions__questions a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7332b;
  padding: 0.5rem 2rem;
  color: white;
  border-radius: 7.1rem;
  text-decoration: none;
}
.small-p {
  font-size: 1.3rem;
}
.big-p {
  font-size: 1.6rem;
  font-family: "Graphik", "Times New Roman";
}
.big {
  font-size: 3rem;
}
.second {
  grid-column: full-start/full-end;
  display: flex;
  padding: 10rem 6rem 14rem 6rem;
  margin-top: 10rem;
  background: url(/img/maleface.svg), url(/img/section1wire.svg);
  background-position: 30% 90%, 60% 90%;
  background-size: 5rem, 8rem;
  background-repeat: no-repeat;
  mix-blend-mode: darken !important;
}
@media only screen and (max-width: 75em) {
  .second {
    flex-direction: column;
    justify-content: center;
    padding: 2rem 6rem 8rem 6rem;
  }
}
.second img {
  width: 28%;
  -o-object-fit: contain;
  object-fit: contain;
}
@media only screen and (max-width: 75em) {
  .second .img1 {
    width: 70%;
    align-self: center;
  }
}
@media only screen and (max-width: 75em) {
  .second .img2 {
    display: none;
  }
}
.second__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.6rem;
}
.second__content > *:not(:last-child) {
  margin-bottom: 4rem;
}
.second .h1,
.second .paragraph {
  padding: 0;
}
@media only screen and (max-width: 75em) {
  .second .paragraph {
    padding: 0 10rem;
  }
}
.sop {
  grid-column: full-start/full-end;
}
.sop h1 {
  font-size: 2rem;
}
.sop__box-item {
  padding: 4rem;
  border-radius: 4.1rem;
  grid-gap: 1rem;
}
.sop__box-item img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.div__sop-images {
  display: flex;
  align-items: center;
}
.center {
  text-align: center;
  align-self: center;
  font-size: 1.8rem;
  margin-top: 5rem;
}
.structure {
  grid-column: full-start/full-end;
  background-image: url(/img/Star1.svg), url(/img/section7wire.svg),
    url(/img/circle.png), url(/img/move.svg), url(/img/circle.png);
  background-repeat: no-repeat;
  background-position: 90% 10%, 10% 5%, right bottom, left center, 5% 100%;
  background-size: 15rem, 15rem, 20rem, 10rem;
  text-align: center;
  padding: 10rem 6rem;
  display: grid;
  grid-gap: 5rem;
}
.structure h1 {
  font-size: 3.5rem;
}
.structure h2 {
  font-size: 1.8rem;
}
.structure p,
.structure li {
  font-size: 1.6rem;
}
.structure__boxes {
  display: grid;
  padding: 0 5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem;
}
.structure__boxes-box {
  background-color: #1b1a20;
  color: white;
  border: 1px solid #fff;
  border-radius: 6.5rem;
  box-shadow: 0 3.1rem 6rem rgba(231, 51, 43, 0.2);
  padding: 6.4rem 6rem;
  text-align: left;
}
.structure__boxes-box > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
.bigp {
  font-size: 2.2rem;
}
.bigh1 {
  font-size: 4rem;
}
.-box1,
.-box2 {
  background-repeat: no-repeat;
  background-position: 90% 90%, 90% 90%;
}
.-box1 {
  background-image: url(/img/hour.png);
  background-size: 10rem;
}
.-box2 {
  background-image: url(/img/time.png);
  background-size: 20rem;
}
.no-list {
  list-style: none;
}
.h1 {
  font-size: 4.9rem;
  font-family: "Graphik", "Times New Roman";
  padding: 0 30rem;
  line-height: 1.3;
}
.paragraph {
  font-size: 1.8rem;
  padding: 0 40rem;
}
.red {
  color: #e7332b;
}
.h2 {
  font-size: 2.4rem;
  font-family: "Graphik", "Times New Roman";
}
.light {
  font-family: "Graphik light", "Times New Roman";
  font-weight: 100;
}
.bold {
  font-family: "Graphik", "Times New Roman";
}
.light-2 {
  font-family: "Graphik medium", "Times New Roman";
  font-weight: bold;
}
.third {
  grid-column: full-start/full-end;
  padding: 0 6rem;
  border-bottom: 1px solid rgba(27, 26, 32, 0.2);
  border-top: 1px solid rgba(27, 26, 32, 0.2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.third img {
  mix-blend-mode: darken !important;
  width: 25rem;
  justify-self: center;
}
.third a,
.third a:active,
.third a:visited {
  color: #43b97f;
}
.whyzuri {
  grid-column: full-start/full-end;
  display: flex;
  flex-direction: column;
  padding: 10rem 6rem;
}
.whyzuri__star {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6rem;
}
.whyzuri__star h1 {
  padding: 0;
  margin-right: 20rem;
  font-size: 4rem;
}
.whyzuri__star img {
  mix-blend-mode: darken !important;
  width: 20rem;
  height: 20rem;
}
.whyzuri__box,
.whyzuri .sop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 3rem;
}
.whyzuri__box__box h1,
.whyzuri .sop__box h1 {
  font-size: 6rem;
}
.whyzuri__box-item,
.whyzuri__box .sop__box-item,
.whyzuri .sop-item,
.whyzuri .sop .sop__box-item {
  display: grid;
  background-color: #fff;
  box-shadow: 0 1.1rem 2.2rem rgba(231, 51, 43, 0.1);
  transition: transform 0.3s ease;
}
.whyzuri__box-item-1,
.whyzuri__box-item-2,
.whyzuri__box-item-3,
.whyzuri__box-item-4,
.whyzuri__box-item-5,
.whyzuri__box-item-6,
.whyzuri__box .sop__box-item-1,
.whyzuri__box .sop__box-item-2,
.whyzuri__box .sop__box-item-3,
.whyzuri__box .sop__box-item-4,
.whyzuri__box .sop__box-item-5,
.whyzuri__box .sop__box-item-6,
.whyzuri .sop-item-1,
.whyzuri .sop-item-2,
.whyzuri .sop-item-3,
.whyzuri .sop-item-4,
.whyzuri .sop-item-5,
.whyzuri .sop-item-6,
.whyzuri .sop .sop__box-item-1,
.whyzuri .sop .sop__box-item-2,
.whyzuri .sop .sop__box-item-3,
.whyzuri .sop .sop__box-item-4,
.whyzuri .sop .sop__box-item-5,
.whyzuri .sop .sop__box-item-6 {
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 12rem;
}
.whyzuri__box-item-1,
.whyzuri__box .sop__box-item-1,
.whyzuri .sop-item-1,
.whyzuri .sop .sop__box-item-1 {
  background-image: url(/img/curve1.png);
  background-color: #e7332b;
  color: white;
}
.whyzuri__box-item-2,
.whyzuri__box .sop__box-item-2,
.whyzuri .sop-item-2,
.whyzuri .sop .sop__box-item-2 {
  background-image: url(/img/curve.svg);
}
.whyzuri__box-item-3,
.whyzuri__box .sop__box-item-3,
.whyzuri .sop-item-3,
.whyzuri .sop .sop__box-item-3 {
  background-image: url(/img/curve3.svg);
}
.whyzuri__box-item-4,
.whyzuri__box .sop__box-item-4,
.whyzuri .sop-item-4,
.whyzuri .sop .sop__box-item-4 {
  background-image: url(/img/curve4.svg);
}
.whyzuri__box-item-5,
.whyzuri__box .sop__box-item-5,
.whyzuri .sop-item-5,
.whyzuri .sop .sop__box-item-5 {
  background-image: url(/img/curve5.svg);
}
.whyzuri__box-item-6,
.whyzuri__box .sop__box-item-6,
.whyzuri .sop-item-6,
.whyzuri .sop .sop__box-item-6 {
  background-image: url(/img/curve6.svg);
}
.whyzuri__box-item,
.whyzuri .sop-item {
  padding: 5.8rem 4.8rem 9.3rem 5rem;
  border-radius: 1.8rem;
  grid-gap: 3rem;
}
.whyzuri__box-item:hover,
.whyzuri .sop-item:hover {
  transform: translateY(-1.5rem);
}
.whyzuri__box h2,
.whyzuri .sop h2 {
  font-size: 3.6rem;
  line-height: 1.3;
}
.whyzuri__box p,
.whyzuri .sop p {
  padding: 0;
}
