.header {
  grid-column: full-start/full-end;
  padding: 8rem 0rem 30rem 0rem;

  background-color: $color-primary-2;
  background-image: url(/img/hero-bg.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 8rem 0rem 15rem 0rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 8rem 0rem 15rem 0rem;
  }

  @media only screen and (max-width: 300px) {
    padding: 8rem 2rem 15rem 1rem;
  }

  & > * {
    margin-bottom: 5rem;
  }

  &__h1 {
    font-size: 3rem;
  }

  &__p {
    font-size: 1.6rem;
    font-family: $font-light;
    padding: 0 32rem;

    @media only screen and (max-width: $bp-larger) {
      padding: 0 20rem;
    }

    @media only screen and (max-width: $bp-medium) {
      padding: 0 10rem;
    }

    @media only screen and (max-width: $bp-medium) {
      padding: 0 5rem;
    }

    @media only screen and (max-width: 400px) {
      padding: 2rem;
    }

    a,
    a:active,
    a:visited {
      color: $color-primary;
      text-decoration: none;
    }
  }

  &__p-big {
    font-size: 2.4rem;
    padding: 0 35rem;

    @media only screen and (max-width: $bp-larger) {
      padding: 0 25rem;
    }

    @media only screen and (max-width: $bp-medium) {
      padding: 0 15rem;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 0 5rem;
    }
  }

  &__button {
    display: flex;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    & > *:not(:last-child) {
      margin-right: 2rem;

      @media only screen and (max-width: $bp-medium) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
    &-link,
    &-link:active,
    &-link:visited {
      text-decoration: none;
      padding: 1rem 3.8rem;
      color: white;
      font-size: 1.6rem;
      background-color: $color-primary;
    }
  }
}
.transparent {
  background-color: white !important;
  border: 1px solid $color-primary;
  color: $color-primary !important;
}

.margin-b {
  margin-bottom: 8rem;
}

.margin-b2 {
  margin-bottom: 3rem;
}

.red {
  color: $color-primary;
}
